pandas
arize-phoenix
ragas
umap-learn
plotly
unstructured
langchain
gitingest
qdrant-client
langchain-ollama
langchain-qdrant
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-langchain
opentelemetry-distro
opentelemetry-exporter-otlp
python-magic
langchain-community
langchain-openai
langchain_huggingface
unstructured[md]
opentelemetry-instrumentation-qdrant
ipywidgets
jupyter_contrib_nbextensions
jupyter-ai[all]
